
        @import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Albert+Sans&family=Work+Sans&family=Afacad&family=Gilroy:wght@400&display=swap');
        @font-face {
            font-family: 'Gilroy-Regular';
            src: url('path/to/Gilroy-Regular.woff2') format('woff2'),
                 url('path/to/Gilroy-Regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
           }
          

       body {
            margin: 0;
            font-family: 'Gilroy', sans-serif;
            background-color: #0B1D26;
            color: #fff;
        }
        
        header {
                position: relative;
                height: 70vh;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(13, 27, 42, 1) 100%), 
                url('../images/BG.png') no-repeat center center/cover;
            
            
        }

        header img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            background: linear-gradient(to bottom, rgba(11, 29, 38, 0), rgba(11, 29, 38, 1));
        }

        

        header .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        header h1 {
            font-size: 5rem;
            margin: 0;
            font-family: 'Abhaya Libre', serif;
            color: rgb(0, 204, 68);
            text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
        }

        header p {
            font-size: 1.2rem;
            text-align: center;
            font-family: 'Abhaya Libre', serif;
        }

        nav {
            position: absolute;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            gap: 20px;
            
        }
        
        nav a {
            color: #ffffff;
            text-decoration: none;
            font-size: 15px;
            font-family: 'Gilroy', sans-serif;
            text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
        }
        
        
        .account-icon {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
        }
        
        .account-icon img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .dropdown {
            position: absolute;
            top: 60px;
            right: 0;
            background-color: #1e293b;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            width: 250px;
            display: none;
            animation: fadeIn 0.3s;
            
        }
        
        .dropdown.active {
            display: block;
        }
        
        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(-10px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        
        .dropdown-header {
            display: flex;
            align-items: center;
            padding: 15px;
            border-bottom: 1px solid #3d5a80;
        }
        
        .dropdown-header img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 15px;
        }
        
        .dropdown-header .user-info {
            color: #ffffff;
        }
        
        .dropdown-header .user-info h4 {
            margin: 0;
            font-size: 16px;
        }
        
        .dropdown-header .user-info p {
            margin: 0;
            font-size: 14px;
            color: #a8dadc;
        }
        
        .dropdown-menu {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        .dropdown-menu li {
            display: flex;
            align-items: center;
            padding: 10px 15px;
            cursor: pointer;
            color: #ffffff;
            text-decoration: none;
            font-size: 15px;
            font-family: 'Gilroy', sans-serif;
            text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
            margin-left: 25px;
            
        }
        
        .dropdown-menu li:hover {
            background-color: #3d5a80;
        }
        
        .dropdown-menu li i {
            margin-right: 10px;
        }
        
        section {
            padding: 4rem 1rem;
            text-align: center;
        }

        section h2 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        section p {
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }


        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        .card {
            background-color: #08171F;
            margin: 20px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            overflow: hidden;
            width: 90%;
            max-width: 1000px;
            margin: 50px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
        }
 
        .card-content {
            padding: 20px;
            flex: 1;
        }

        .card-content h2 {
            font-size: 2.5rem;
            margin-bottom: 10px;
            color: #f6cb56;
            font-family: 'Abhaya Libre', serif;
        }

        .card-content p {
            font-size: 1.1rem;
            margin-bottom: 20px;
            font-family: 'Gilroy-Regular', Arial, sans-serif;
            letter-spacing: 1.5px;
        }

        .card-content button {
            background-color: #27ae60;
            border: none;
            padding: 10px 15px;
            color: #fff;
            font-size: 1rem;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .card-content button:hover {
            background-color: #1e8a50;
        }

        .card img {
            width: 300px; /* Adjust as needed */
            height: 400px;
            object-fit: cover;
            margin: 50px;
        }
        .footer-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 40px 20px;
            background-color: #0B1D26;
            color: #fff;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
        }
        
        .footer-container > div {
            flex: 1 1 250px;
            max-width: 400px;
            min-width: 250px;
            margin: 10px;
            box-sizing: border-box;
        }
        
        .footer-about h1 {
            font-size: 2.8rem;
            color: #27ae60;
        }
        
        .footer-about p {
            font-size: 1rem;
            line-height: 1.6;
            margin: 20px 0;
            text-align: justify;
        }
        
        /* Social Media Icons */
        .social-media a {
            display: inline-block;
            margin-right: 15px;
            width: 40px;
            height: 40px;
            background-color: #27ae60;
            border-radius: 50%;
            overflow: hidden;
            text-align: center;
            vertical-align: middle;
            line-height: 40px;
            transition: transform 0.3s ease;
        }
        
        .social-media a img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .social-media a:hover {
            transform: scale(1.1);
        }
        
        .footer-links h3, 
        .footer-company h3, 
        .footer-contact h3 {
            font-size: 1.5rem;
            margin-bottom: 10px;
            color: #fff;
        }
        
        
        .footer-links ul, .footer-company ul {
            list-style: none;
            padding: 0;
        }
        
        .footer-links li, .footer-company li {
            margin: 10px 0;
        }
        
        /* Modern Hyperlinks */
        .footer-links a, .footer-company a, .footer-contact a {
            position: relative;
            color: #27ae60;
            text-decoration: none;
            font-size: 1rem;
            transition: color 0.3s ease;
        }
        .DD-links a {
            position: relative;
            color: white;
            text-decoration: none;
            font-size: 1rem;
            transition: color 0.3s ease;
        }
        
        .footer-links a::after, .footer-company a::after, .footer-contact a::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #27ae60;
            transition: width 0.3s ease;
        }
        
        .footer-links a:hover, .footer-company a:hover, .footer-contact a:hover {
            color: #1abc9c;
        }
        
        .footer-links a:hover::after, .footer-company a:hover::after, .footer-contact a:hover::after {
            width: 100%;
        }
        
        /* Contact Links */
        .footer-contact p, .footer-contact a {
            font-size: 1rem;
            color: #fff;
            margin: 5px 0;
            text-decoration: none;
        }
        
        .footer-contact a:hover {
            color: #27ae60;
        }
        
        /* Responsive Design */
        @media (max-width: 1024px) {
            .footer-container {
                justify-content: center;
                text-align: center;
            }
            
            .footer-container > div {
                flex: 1 1 100%;
                max-width: 100%;
            }
        
            .footer-about p, 
            .footer-contact p, 
            .footer-links li, 
            .footer-company li {
                font-size: 0.9rem;
            }
        
            .footer-about h1 {
                font-size: 2rem;
            }
        }
        
        @media (max-width: 768px) {
            .footer-container {
                padding: 20px 10px;
            }
            
            .footer-about, 
            .footer-links, 
            .footer-company, 
            .footer-contact {
                margin: 10px 0;
            }
        
            .social-media a {
                width: 30px;
                height: 30px;
                line-height: 30px;
            }
        }
        
        @media (max-width: 480px) {
            .footer-about h1 {
                font-size: 1.8rem;
            }
        
            .footer-about p {
                font-size: 0.8rem;
            }
        
            .footer-links h3, 
            .footer-company h3, 
            .footer-contact h3 {
                font-size: 1.2rem;
            }
        
            .social-media a {
                margin-right: 10px;
                width: 25px;
                height: 25px;
                line-height: 25px;
            }
        }
                